{% extends "layout.html" %}

{% block title %}Songs - My App{% endblock %}

{% block content %}

<main>
    <form>
        <label for="search">Search</label>
        <input id="search" type="search" />
        <button id="btnSearch">Go</button>
    </form>
    <div class="out"></div>
</main>
<script>
    let APIKEY = "tSniQc7YU8LnbUPtzFatHQPXSM03369c";
    let savedFigs = JSON.parse(localStorage.getItem('savedFigs'));
    console.log(savedFigs);
    if(savedFigs.length <= 0){
        savedFigs = [];
    }
    document.addEventListener("DOMContentLoaded", init);
    function init() {
        document.getElementById("btnSearch").addEventListener("click", ev => {
            ev.preventDefault();
            let url = `https://api.giphy.com/v1/gifs/search?api_key=${APIKEY}&limit=1&q=`;
            let str = document.getElementById("search").value.trim();
            url = url.concat(str);
            console.log(url);
            fetch(url)
             .then(response => response.json())
             .then(content => {
                console.log(content.data);
                console.log("META", content.meta);
                let fig = document.createElement("figure");
                let img = document.createElement("img");
                let fc = document.createElement("figcaption");
                img.src = content.data[0].images.downsized.url;
                img.alt = content.data[0].title;
                fc.textContent = content.data[0].title;
                fig.appendChild(img);
                //fig.appendChild(fc);
                //savedFigs.push({url: img.src, title: img.alt});
                savedFigs.push({url: img.src});

                let out = document.querySelector(".out");
                out.insertAdjacentElement("afterbegin", fig);
                document.querySelector("#search").value = "";


                img.addEventListener("click", () => {
                    
                    localStorage.setItem("savedFigs", JSON.stringify(savedFigs));
                    
                    window.location.href = "/songs";
                });
             })
             .catch(error => {
                console.error(err);
             });
        });
    }


</script>



{% endblock %}