<!-- show each song -->

{% extends "layout.html" %}

{% block title %}Songs - My App{% endblock %}

{% block content %}

<div>
    <div id="songs-container">
        {% for song in songs %}
            <div class="draggable" id="song_{{ loop.index }}">
                <img src="{{ song['album']['images'][0]['url'] }}" class="play-song" data-song-id="{{ song['album']['uri'] }}" data-track-id="{{ song['uri'] }}" alt="Album Cover" width="100px" />
                <div id="contextMenu_{{ loop.index }}" class="context-menu" style="display:none">
                    <button class="deleteImg" data-song-id="{{ loop.index }}" data-song-id2="{{ song['id'] }}">Delete</button>
                </div> 
            </div>
        {% endfor %}
    </div>

    <div class="gifCC"></div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- drawing canvas -->

<canvas id="canvas"></canvas>

<div class="nav">
    <div class="paintbrush" id="paintbrush" role="img" aria-label="Lower Left Paintbrush">&#x1F58C</div>

    <div class="color-options" id="colorOptions">
        <div class="clr" data-clr="#000"></div>
        <div class="clr" data-clr="red"></div>
        <div class="clr" data-clr="orange"></div>
        <div class="clr" data-clr="blue"></div>
        <div class="clr" data-clr="purple"></div>
        <div class="clr" data-clr="yellowgreen"></div>
        <div class="clr" data-clr="yellow"></div>
        <div class="clr" data-clr="#fff"></div>
    </div>

    <button class="undo" role="img" aria-label="Anticlockwise Open Circle Arrow">&#x21BA</button>
    <button class="clear">Clear</button>
    <button class="save" role="img" aria-label="Downwords Arrow to Bar">&#x2913</button>

    <input type="color" value="#4F6949" id="favcolor">
    <input type="range" name="ageInputName" id="ageInputId" value="5" min="1" max="10" oninput="ageOutputId.value = ageInputId.value">

    <output id="ageOutputId"></output>

    <button class="toggle-drawing">Start Drawing</button> <!-- Toggle button added -->
    <button class="redirect">Search for a GIF</button>
    <button class="logout-button">Logout</button>
</div>


<script>
    // logout function
    document.querySelector('.logout-button').addEventListener('click', () => {
        localStorage.clear();
        window.location.href = "/logout";
    });

    // set the initial canvas
    const canvas = document.getElementById("canvas")
    const body = document.querySelector('body');
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;
    body.style.backgroundColor = "#4F6949";
    
    var theColor = '';
    var lineW = 5;
    let prevX = null;
    let prevY = null;
    let draw = false;

    // saves last drawn line
    let drawingActions = [];
    let startDraw = [];

    // sets canvas background color
    var theInput = document.getElementById("favcolor");

    theInput.addEventListener("input", function(){
        theColor = theInput.value;
        body.style.backgroundColor = theColor;
        localStorage.setItem("back_color", theColor);
    }, false);

    // sets drawing line width
    const ctx = canvas.getContext("2d")
    ctx.lineWidth = lineW;

    document.getElementById("ageInputId").oninput = function() {
        draw = null
        lineW = document.getElementById("ageInputId").value;
        document.getElementById("ageOutputId").innerHTML = lineW;
        ctx.lineWidth = lineW;
    };

    // sets color
    let clrs = document.querySelectorAll(".clr")
    clrs = Array.from(clrs)
    clrs.forEach(clr => {
        clr.addEventListener("click", () => {
            ctx.strokeStyle = clr.dataset.clr
        })
    })

    // clear button clears canvas
    let clearBtn = document.querySelector(".clear")
    clearBtn.addEventListener("click", () => {
        startDraw = [];
        drawingActions = [];
        saveDrawingActions();
        ctx.clearRect(0, 0, canvas.width, canvas.height)
    })

    // undo button reverses last draw
    let undoBtn = document.querySelector(".undo")
    undoBtn.addEventListener("click", () => {
        startDrawTop = startDraw.pop();
        while (drawingActions.length > 0 && drawingActions[drawingActions.length - 1].startX != null && startDrawTop.startX != null && drawingActions[drawingActions.length - 1].startX != startDrawTop.startX && drawingActions[drawingActions.length - 1].startY != startDrawTop.startY) {
            drawingActions.pop(); // remove the last element from the array
        }
        saveDrawingActions();
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawingActions.forEach(action => {
                ctx.strokeStyle = action.savedColor;
                ctx.beginPath();
                ctx.moveTo(action.startX, action.startY);
                ctx.lineTo(action.endX, action.endY);
                ctx.stroke();
            });
        
    })

    // save drawing
    let saveBtn = document.querySelector(".save")
    saveBtn.addEventListener("click", () => {
        let title = prompt("Enter a title for your drawing:");
        
        if (title) {
            saveCurrentState(title);
        }
    });

    // right click menu
    document.onclick = hideMenu;
    document.oncontextmenu = rightClick;

    function hideMenu() {
        var menus = document.querySelectorAll('.context-menu');
        menus.forEach(function(menu) {
            menu.style.display = 'none';
        });
    }

    function rightClick(e) {
        e.preventDefault();
        var menus = document.querySelectorAll('.context-menu');
        menus.forEach(function(menu) {
            if (menu.style.display == 'block'){
                hideMenu();
            }
            else {
                menu.style.display = 'block';
                    
            }
        });
    }

    // make each song draggable
    function makeDraggable(element) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

        // keep position on reload
        var savedPosition = localStorage.getItem('song_' + element.id);
        if (savedPosition) {
            var positions = savedPosition.split(',');
            element.style.top = positions[0] + 'px';
            element.style.left = positions[1] + 'px';
        }

        element.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX
            pos4 = e.clientY
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            element.style.top = (element.offsetTop - pos2) + "px";
            element.style.left = (element.offsetLeft - pos1) + "px";

            // save the position in local storage
            localStorage.setItem('song_' + element.id, `${element.offsetTop},${element.offsetLeft}`);
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    // call the drag function
    var songs = document.querySelectorAll('.draggable');
    songs.forEach(function(song) {
        makeDraggable(song);
    });

    // load drawingActions from localStorage
    function loadDrawingActions() {
        let savedDrawingActions = localStorage.getItem('drawingActions');

        if (savedDrawingActions) {
            drawingActions = JSON.parse(savedDrawingActions);

            // redraw all saved drawing actions
            drawingActions.forEach(action => {
                ctx.strokeStyle = action.savedColor;
                ctx.beginPath();
                ctx.moveTo(action.startX, action.startY);
                ctx.lineTo(action.endX, action.endY);
                ctx.stroke();
            });
        }

        let savedBackgroundColor = localStorage.getItem('back_color');

        if(savedBackgroundColor) {
            body.style.backgroundColor = savedBackgroundColor;

        }
    }

    // save current state screenshot
    function saveCurrentState(title) {
        // save drawing canvas
        const drawingData = canvas.toDataURL("image/png");

        // save positions and other data of songs
        const songs = document.querySelectorAll('.draggable');

        const songData = Array.from(songs).map(song => ({
            id: song.id,
            song_id: song.querySelector('img').getAttribute('data-song-id'),
            track_id: song.querySelector('img').getAttribute('data-track-id'),
            left: song.offsetLeft,
            top: song.offsetTop,
            imgSrc: song.querySelector('img').src
        }));

        console.log("song data: ", songData);
    

        // save positions and other data of GIFs
        const gifs = document.querySelectorAll('.gif-container');
        const gifData = Array.from(gifs).map(gif => ({
            id: gif.id,
            left: gif.offsetLeft,
            top: gif.offsetTop
        }));
        
        console.log("gif data: ", gifData);

        // get all saved states
        let storedStates;

        try {
            const savedStatesJson = localStorage.getItem('savedStates');
            storedStates = savedStatesJson ? JSON.parse(savedStatesJson) : [];
        } catch (e) {
            console.error('Error parsing saved states from localStorage:', e);
            storedStates = [];
        }

        // create a new state entry
        const newState = {
            title: title,
            timestamp: new Date().toISOString(),
            drawingData: drawingData,
            songData: songData,
            gifData: gifData
        }

        // add new state to stored states
        storedStates.push(newState);

        // save updated states to local storage
        localStorage.setItem('savedStates', JSON.stringify(storedStates));

        alert('current state saved');
    
    }

    // load and render saved state
    function loadState(state) {
        localStorage.setItem('recentState', JSON.stringify(state));
        // clear current canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // draw saved canvas image
        const img = new Image();
        img.src = state.drawingData;
        img.onload = () => {
            ctx.drawImage(img, 0, 0);
        };

        const songsContainer = document.getElementById('songs-container');
        songsContainer.innerHTML = '';

        // reposition songs
        console.log(state);
        state.songData.forEach(data => {
            const songElement = document.createElement('div');
            songElement.classList.add('draggable');
            songElement.id = data.id;

            const img = document.createElement('img');
            img.src = data.imgSrc;
            img.classList.add('play-song');
            img.setAttribute('data-song-id', data.song_id);
            img.setAttribute('data-track-id', data.track_id);



            img.addEventListener('click', function(event) {
                event.preventDefault();
                playSong(data.song_id, data.track_id);
            });

            function playSong(songId, trackId) {
                fetch(`/play-song/${songId}/${trackId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to delete song');
                    }
                })
                .catch(error => {
                    console.error('Error deleting song:', error);
                });
            }

            const contextMenu = document.createElement('div');
            contextMenu.classList.add('context-menu');
            contextMenu.style.display = 'none';

            songElement.appendChild(img);
            songElement.appendChild(contextMenu);

            songsContainer.appendChild(songElement);

            makeDraggable(songElement);
            songElement.style.left = data.left;
            songElement.style.top = data.top;


        });

        // reposition gifs
        state.gifData.forEach(data => {
            const gifElement = document.getElementById(data.id);
            if(gifElement) {
                gifElement.style.left = data.left;
                gifElement.style.top = data.top;
            }
        });
    }

    // load states from localStorage
    function loadSavedStates() {
        const savedStates = JSON.parse(localStorage.getItem('savedStates')) || [];

        //create a UI to list saved states
        const listContainer = document.querySelector('.saved-states-list');
        listContainer.innerHTML = '';

        savedStates.forEach((state, index) => {
            console.log("state: ", state);
            const listItem = document.createElement('li');
            listItem.textContent = state.title;
            listItem.addEventListener('click', () => {
                loadState(state);
            });
            listContainer.appendChild(listItem);
        })
    }

    window.addEventListener('DOMContentLoaded', () => {
        let gifs = JSON.parse(localStorage.getItem("savedFigs"));
        let out = document.querySelector(".gifCC");

        // add the gifs to the container
        if(gifs && gifs.length > 0) {
            gifs.forEach((gif, index) => {
                let gifContainer = document.createElement("div");
                gifContainer.classList.add("gif-container");

                let fig = document.createElement("figure");
                let img = document.createElement("img");
                img.src = gif.url;
                let fc = document.createElement("figcaption");
                fig.appendChild(img);
                gifContainer.appendChild(fig);
                out.appendChild(gifContainer);

                img.addEventListener("click", () => {
                    let indexToRemove = gifs.findIndex(savedGif => savedGif.url === gif.url);

                    if (indexToRemove !== -1) {
                        gifs.splice(indexToRemove, 1);
                        localStorage.setItem("savedFigs", JSON.stringify(gifs));
                        fig.remove();
                    }
                });
            });
        }

        // make each gif draggable
        var gifss = document.querySelectorAll('.gif-container');

        gifss.forEach(function(gifs) {
            makeDraggable(gifs);
        });

        // play song on click
        const playSongLinks = document.querySelectorAll('.play-song');

        playSongLinks.forEach(img => {
            img.addEventListener('click', function(event) {
                event.preventDefault();
                const songId = this.getAttribute('data-song-id');
                const trackId = this.getAttribute('data-track-id');
                playSong(songId, trackId);
            });
        });

        // play song function from main.py
        function playSong(songId, trackId) {
            fetch(`/play-song/${songId}/${trackId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to play song');
                }
            })
            .catch(error => {
                console.error('Error playing song:', error);
            });
        }

        // paintbrush functions
        const paintbrush = document.getElementById('paintbrush');
        const colorOptions = document.getElementById('colorOptions');

        // toggle the visibility of the color options
        paintbrush.addEventListener('click', () => {
            if (colorOptions.style.display === 'none' || colorOptions.style.display === '') {
                colorOptions.style.display = 'block';
            } else {
                colorOptions.style.display = 'none';
            }
        });

        document.addEventListener('click', (event) => {
            if (!paintbrush.contains(event.target) && !colorOptions.contains(event.target)) {
                colorOptions.style.display = 'none';
            }
        });

        // populate list of saved states
        loadSavedStates();

    });


    window.addEventListener('load', () => {
        loadDrawingActions();
    });

    function saveDrawingActions() {
        localStorage.setItem('drawingActions', JSON.stringify(drawingActions));
    }

    // toggle between draw and no-draw
    let toggleBtn = document.querySelector(".toggle-drawing")
    toggleBtn.addEventListener("click", () => {
        if (toggleBtn.textContent == "Start Drawing") {
            toggleBtn.textContent = "Stop Drawing";
        }
        else if (toggleBtn.textContent == "Stop Drawing") {
            toggleBtn.textContent = "Start Drawing";
            startDraw.pop();
        }
    });

    window.addEventListener("mousedown", (e) => {
        if(toggleBtn.textContent == "Start Drawing") {
            draw = false;
        }
        else {
            let canvasRect = canvas.getBoundingClientRect();
            startDraw.push({startX: e.clientX - canvasRect.left, startY: e.clientY - canvasRect.top})
            drawingActions.push({ startX: e.clientX, startY: e.clientY, savedColor: ctx.strokeStyle});
            draw = true
        }
    });

    window.addEventListener("mouseup", (e) => {
        draw = false;
    })


    window.addEventListener("mousemove", (e) => {
        let canvasRect = canvas.getBoundingClientRect();
        if(prevX == null || prevY == null || !draw){
            prevX = e.clientX - canvasRect.left
            prevY = e.clientY - canvasRect.top
            return
        }

        let currentX = e.clientX - canvasRect.left
        let currentY = e.clientY - canvasRect.top

        if (prevX != null && prevY != null) {
            // save the current action
            drawingActions.push({ startX: prevX, startY: prevY, endX: currentX, endY:currentY, savedColor: ctx.strokeStyle });
        }

        saveDrawingActions();

        ctx.beginPath()
        ctx.moveTo(prevX, prevY)
        ctx.lineTo(currentX, currentY)
        ctx.stroke()

        prevX = currentX
        prevY = currentY
    })

    // go to giphy.html page
    let redirectGif = document.querySelector(".redirect");
    redirectGif.addEventListener("click", () => {
        window.location.href = "/giphy";
    });

    // delete buttons for tracks
    let deleteBtns = document.querySelectorAll(".deleteImg");
    deleteBtns.forEach(btn => {
        btn.addEventListener("click", function() {
            // loop ID
            let songId = this.getAttribute("data-song-id");

            // song ID
            let passSongId = this.getAttribute("data-song-id2");

            let songElement = document.getElementById(`song_${songId}`);
            
            // remove from DOM
            songElement.remove();
            
            // remove from localStorage (if saved)
            localStorage.removeItem(`song_${songId}`);

            // call delete
            fetch(`/delete-song/${passSongId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete song');
                }
            })
            .catch(error => {
                console.error('Error deleting song:', error);
            });
        });
    });

</script>
<script>

        const fileBtn = document.querySelector(".folder");
        const states = document.querySelector(".saved-states");

        // toggle the visibility of the color options
        fileBtn.addEventListener('click', () => {
            if (states.style.display === 'none' || states.style.display === '') {
                states.style.display = 'block';
            } else {
                states.style.display = 'none';
            }
        });

        document.addEventListener('click', (event) => {
            if (!fileBtn.contains(event.target) && !states.contains(event.target)) {
                states.style.display = 'none';
            }
        });
</script>

{% endblock %}