{% extends "layout.html" %}

{% block title %}Songs - My App{% endblock %}

{% block content %}

<!-- show each song -->


<div>
    <div id="songs-container">
        {% for song in songs %}
        <div class="draggable" id="song_{{ loop.index }}">
            <img src="{{ song['album']['images'][0]['url'] }}" class="play-song" data-song-id="{{ song['album']['uri'] }}" data-track-id="{{ song['uri'] }}" alt="Album Cover" width="100px" />
            <div id="contextMenu_{{ loop.index }}" class="context-menu" style="display:none">
                <button class="deleteImg" data-song-id="{{ loop.index }}" data-song-id2="{{ song['id'] }}">Delete</button>
            </div>

            
        </div>

        {% endfor %}
        
    </div>
    <div class="gifCC"></div>

</div>

    <div class="goLow">
        <button class="redirect">Search for a GIF</button>
    </div>



<!-- drawing canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


<canvas id="canvas"></canvas>
<div class="nav">
    <div class="clr" data-clr="#000"></div>
    <div class="clr" data-clr="red"></div>
    <div class="clr" data-clr="orange"></div>
    <div class="clr" data-clr="blue"></div>
    <div class="clr" data-clr="purple"></div>
    <div class="clr" data-clr="yellowgreen"></div>
    <div class="clr" data-clr="yellow"></div>
    <div class="clr" data-clr="#fff"></div>
    <button class="undo" role="img" aria-label="Anticlockwise Open Circle Arrow">&#x21BA</button>`
    <button class="clear">Clear</button>
    <button class="save" role="img" aria-label="Downwords Arrow to Bar">&#x2913</button>
    <input type="color" value="#4F6949" id="favcolor">
    <input type="range" name="ageInputName" id="ageInputId" value="5" min="1" max="10" oninput="ageOutputId.value = ageInputId.value">
    <output id="ageOutputId"></output>
    <button class="toggle-drawing">Start Drawing</button> <!-- Toggle button added -->
</div>


<script>
    // set the initial canvas
    const canvas = document.getElementById("canvas")
    const body = document.querySelector('body');
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;
    body.style.backgroundColor = "#4F6949";
    
    var theColor = '';
    var lineW = 5;
    let prevX = null;
    let prevY = null;
    let draw = false;

    //saves last drawn line
    let drawingActions = [];
    let startDraw = [];

    // sets canvas background color
    var theInput = document.getElementById("favcolor");


    theInput.addEventListener("input", function(){
        theColor = theInput.value;
        body.style.backgroundColor = theColor;
    }, false);

    // sets drawing line width
    const ctx = canvas.getContext("2d")
    ctx.lineWidth = lineW;

    document.getElementById("ageInputId").oninput = function() {
        draw = null
        lineW = document.getElementById("ageInputId").value;
        document.getElementById("ageOutputId").innerHTML = lineW;
        ctx.lineWidth = lineW;
    };

    // sets color
    let clrs = document.querySelectorAll(".clr")
    clrs = Array.from(clrs)
    clrs.forEach(clr => {
        clr.addEventListener("click", () => {
            ctx.strokeStyle = clr.dataset.clr
        })
    })

    // clear button clears canvas
    let clearBtn = document.querySelector(".clear")
    clearBtn.addEventListener("click", () => {
        startDraw = [];
        drawingActions = [];
        saveDrawingActions();
        ctx.clearRect(0, 0, canvas.width, canvas.height)
    })

    // undo button reverses last draw
    let undoBtn = document.querySelector(".undo")
    undoBtn.addEventListener("click", () => {
        startDrawTop = startDraw.pop();
        while (drawingActions.length > 0 && drawingActions[drawingActions.length - 1].startX != null && startDrawTop.startX != null && drawingActions[drawingActions.length - 1].startX != startDrawTop.startX && drawingActions[drawingActions.length - 1].startY != startDrawTop.startY) {
            drawingActions.pop(); // remove the last element from the array
        }
        saveDrawingActions();
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawingActions.forEach(action => {
                ctx.strokeStyle = action.savedColor;
                ctx.beginPath();
                ctx.moveTo(action.startX, action.startY);
                ctx.lineTo(action.endX, action.endY);
                ctx.stroke();
            });
        
    })

    // save drawing
    let saveBtn = document.querySelector(".save")
    saveBtn.addEventListener("click", () => {

        html2canvas(document.body, {useCORS: true}).then((canvas) => {
            const base64image = canvas.toDataURL("image/png");
            const a = document.createElement("a");
            a.href = base64image;
            a.download = "sketch.png";
            a.click();
        });
    });

    

    // right click menu
    document.onclick = hideMenu;
    document.oncontextmenu = rightClick;

    function hideMenu() {
        var menus = document.querySelectorAll('.context-menu');
        menus.forEach(function(menu) {
            menu.style.display = 'none';
        });
    }

    function rightClick(e) {
        e.preventDefault();
        var menus = document.querySelectorAll('.context-menu');
        menus.forEach(function(menu) {
            if (menu.style.display == 'block'){
                hideMenu();
            }
            else {
                menu.style.display = 'block';
                    
            }
        });
    }

    // make each song draggable
    function makeDraggable(element) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

        // keep position on reload
        var savedPosition = localStorage.getItem('song_' + element.id);
        if (savedPosition) {
            var positions = savedPosition.split(',');
            element.style.top = positions[0] + 'px';
            element.style.left = positions[1] + 'px';
        }

        element.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX
            pos4 = e.clientY
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            element.style.top = (element.offsetTop - pos2) + "px";
            element.style.left = (element.offsetLeft - pos1) + "px";

            // save the position in local storage
            localStorage.setItem('song_' + element.id, `${element.offsetTop},${element.offsetLeft}`);
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    // call the drag function
    var songs = document.querySelectorAll('.draggable');
    console.log(songs);
    songs.forEach(function(song) {
        makeDraggable(song);
    });


    



    // load drawingActions from localStorage
    function loadDrawingActions() {
        let savedDrawingActions = localStorage.getItem('drawingActions');
        if (savedDrawingActions) {
            drawingActions = JSON.parse(savedDrawingActions);

            // redraw all saved drawing actions
            drawingActions.forEach(action => {
                ctx.strokeStyle = action.savedColor;
                ctx.beginPath();
                ctx.moveTo(action.startX, action.startY);
                ctx.lineTo(action.endX, action.endY);
                ctx.stroke();
            });
        }
    }

    // load drawing on reload
    window.addEventListener('DOMContentLoaded', () => {
        let gifs = JSON.parse(localStorage.getItem("savedFigs"));
        let out = document.querySelector(".gifCC");
        if(gifs && gifs.length > 0) {

            console.log(gifs);
            

            gifs.forEach((gif, index) => {
                let gifContainer = document.createElement("div");
                gifContainer.classList.add("gif-container");


                // Example: Create a figure element for each saved GIF
                let fig = document.createElement("figure");
                let img = document.createElement("img");
                img.src = gif.url; // Assuming each savedFig has a url property
                let fc = document.createElement("figcaption");
                fig.appendChild(img);

                //gifContainer.appendChild(fig);


                //let out = document.querySelector(".gif-container-${index}");

                //out.appendChild(gifContainer);
                gifContainer.appendChild(fig);



                out.appendChild(gifContainer);


                img.addEventListener("click", () => {
                    let indexToRemove = gifs.findIndex(savedGif => savedGif.url === gif.url);
                    if (indexToRemove !== -1) {
                        gifs.splice(indexToRemove, 1);
                        localStorage.setItem("savedFigs", JSON.stringify(gifs));
                        fig.remove();
                    }
                });


            });
            console.log(out);
        }

        var gifss = document.querySelectorAll('.gif-container');
            console.log(gifss);
            gifss.forEach(function(gifs) {
                makeDraggable(gifs);
            });


            const playSongLinks = document.querySelectorAll('.play-song');

            playSongLinks.forEach(img => {
                img.addEventListener('click', function(event) {
                    event.preventDefault();
                    const songId = this.getAttribute('data-song-id');
                    const trackId = this.getAttribute('data-track-id');
                    playSong(songId, trackId);
                });
            });

            function playSong(songId, trackId) {
                fetch(`/play-song/${songId}/${trackId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                })
                .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to delete song');
                            }
                })
                .catch(error => {
                            console.error('Error deleting song:', error);
                });
            }


    });


    window.addEventListener('load', () => {
        loadDrawingActions();
        
    });

    function saveDrawingActions() {
        localStorage.setItem('drawingActions', JSON.stringify(drawingActions));
    }

    
    // toggle between draw and no-draw
    let toggleBtn = document.querySelector(".toggle-drawing")
    toggleBtn.addEventListener("click", () => {
        if (toggleBtn.textContent == "Start Drawing") {
            toggleBtn.textContent = "Stop Drawing";
        }
        else if (toggleBtn.textContent == "Stop Drawing") {
            toggleBtn.textContent = "Start Drawing";
            startDraw.pop();
        }
    });

    window.addEventListener("mousedown", (e) => {
        if(toggleBtn.textContent == "Start Drawing") {
            draw = false;
        }
        else {
            let canvasRect = canvas.getBoundingClientRect();
            startDraw.push({startX: e.clientX - canvasRect.left, startY: e.clientY - canvasRect.top})
            drawingActions.push({ startX: e.clientX, startY: e.clientY, savedColor: ctx.strokeStyle});
            draw = true
        }
    });

    window.addEventListener("mouseup", (e) => {
        draw = false;
    })


    window.addEventListener("mousemove", (e) => {
        let canvasRect = canvas.getBoundingClientRect();
        if(prevX == null || prevY == null || !draw){
            prevX = e.clientX - canvasRect.left
            prevY = e.clientY - canvasRect.top
            return
        }

        let currentX = e.clientX - canvasRect.left
        let currentY = e.clientY - canvasRect.top

        if (prevX != null && prevY != null) {
            // save the current action
            drawingActions.push({ startX: prevX, startY: prevY, endX: currentX, endY:currentY, savedColor: ctx.strokeStyle });
        }

        saveDrawingActions();

        ctx.beginPath()
        ctx.moveTo(prevX, prevY)
        ctx.lineTo(currentX, currentY)
        ctx.stroke()

        prevX = currentX
        prevY = currentY
    })

    let redirectGif = document.querySelector(".redirect");
    redirectGif.addEventListener("click", () => {
        console.log("now");
        window.location.href = "/giphy";

    });

    // delete buttons for tracks
    let deleteBtns = document.querySelectorAll(".deleteImg");
    deleteBtns.forEach(btn => {
        btn.addEventListener("click", function() {
            // loop ID
            let songId = this.getAttribute("data-song-id");

            // song ID
            let passSongId = this.getAttribute("data-song-id2");

            let songElement = document.getElementById(`song_${songId}`);
            
            // remove from DOM
            songElement.remove();
            
            // remove from localStorage (if saved)
            localStorage.removeItem(`song_${songId}`);

            // call delete
            fetch(`/delete-song/${passSongId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to delete song');
                    }
                })
                .catch(error => {
                    console.error('Error deleting song:', error);
                });
        });
    });

</script>

{% endblock %}