<!-- tracks.html -->
{% extends "layout.html" %}

{% block title %}Tracks - My App{% endblock %}


{% block content %}

    <h1>Tracks</h1>

    <div class="track-listing">
        <div class="track-item">
                <!-- show each track in album with album name and artist -->
                {% for track in tracks %}
                <div class="track-details">
                    <h2>
                        <li><a href="{{ url_for('get_songs', songs_id=track['track']['id']) }}">{{ track['track']['name']}}</a></li>
                    </h2>
                    <p class="artist">Artist: {{ track['track']['artists'][0]['name'] }}</p>
                    <p class="album">Album: {{ track['track']['album']['name'] }}</p>
                </div>
            
                <div class="album-cover">
                    <img src="{{ track['track']['album']['images'][0]['url'] }}" alt="Album Cover" width="100px">
                </div>
                {% endfor %}
        </div>
    </div>
    
{% endblock %}